<label class="privacy-consent">
  <input type="checkbox" name="privacyConsent" required />
  <span>
    He leído y acepto la&nbsp;
    <a href="/politica-de-privacidad/" target="_blank" rel="noopener noreferrer">
      Política de Privacidad
    </a>.
  </span>
</label>
